.about {
  height: 100vh;
  padding-top: 80px;
  width: calc(100vw - 15px);
  color: black;
  background-color: #f9f9f9;
  display: flex;
  gap: 60px;
  justify-content: center;
  align-items: center;
  
  &.dark-mode{
    background-color: #1B1E32;
    color: white;
  }

  img {
    max-width: 400px;
    border-radius: 10px;
    margin: 0 0 100px 10px;
  }
  .section {
    margin-bottom: 100px;
    width: 60%;
    h2 {
      color: #00008B;
      font-size: 2rem;
    }
    h3{
      font-size: 1.6rem;
      margin: 0;
    }
    p {
      margin: 10px 10px 0 0;
      font-size: 1.2rem;
    }
  }
}

@media screen and ( max-width: 1024px) {
 .about{
  .section{
    margin-right: 20px;
    h2{
      font-size: 1.6rem;
    }
    h3{
      font-size: 1.3rem;
    }
    p{
      font-size: 1rem;
    }
  }
 }
}
@media screen and ( max-width: 900px) {
  
  .about{
    gap: 20px;
    padding: 0;
    img{
      height: 60%;
      max-width: 240px;
      margin: 0 0 0 10px;
    }
    .section{
      display:flex;
      flex-direction: column;
      align-items: center;
      
    }
  }
}
@media screen and ( max-width: 640px ) {
  .about{
    width: 100%;
    padding: 0;
    flex-direction: column;
   align-items: center;
   justify-content: center;

    .section{
      width: 90%;
      h2{
        font-size: 1.2rem;
      }
      h3{
        font-size: 1rem;
        text-align: center;
      }
      p{
        font-size: 0.8rem;
      }
    }
    img{
      height: 180px;
      width: 300px;
      min-width: 200px;
    }
  }
}

@media screen and (max-height:800px){
  .about{
    padding: 60px 0 0 0;
    img{
      width: 50%;
    }
    section{
      h2{
        font-size: 1rem;
        margin: 0;
      }
      h3{
        font-size: 0.8rem;
        text-align: center;
      }
      p{
        font-size: 0.4rem;
      }
    }
  }
 }