.about {
  height: 100vh;
  padding-top: 80px;
  width: calc(100vw - 15px);
  color: black;
  background-color: #f9f9f9;
  display: flex;
  gap: 60px;
  justify-content: center;
  align-items: center;

  img {
    
    width: 30%;
    border-radius: 10px;
    margin-bottom: 100px;
  }
  .section {
    margin-bottom: 100px;
    width: 60%;
    h2 {
      color: rgb(0, 72, 255);
      font-size: 3rem;
    }
    h3{
      font-size: 2rem;
    }
    p {
      
      font-size: 1.5rem;
    }
  }
}

@media screen and ( max-width: 1080px) {
  
  .about{
    flex-direction: column;
    img{
      width: 80%;
    }
    .section{
      width: 80%;
      display:flex;
      flex-direction: column;
      align-items: center;
    }
  }
}