
.app{
    height: 100vh;
    background-color: white;
    width: 100vw;
    overflow: auto;
    font-family: Poppins, sans-serif;
    
    &::-webkit-scrollbar {
        width: 15px;
      }
    
      &::-webkit-scrollbar-thumb {
        background-color:  rgb(32, 32, 32) ;
      }
      &::-webkit-scrollbar-track {
        background: white;
      }

      .container{
        
      }
}