.contact {
  height: 100%;
  width: calc(100vw - 15px);
  background-color: rgb(32, 32, 32) ;
  color: white;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  
   .contactMe{
    font-size: 32px;
    text-align: center;
    margin: 40px 0;
  } 
  .contactInfo{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap :10px;
    .icon{
      height: 100px;
      width: 100px;
      color: white;
      cursor: pointer;
      &:hover{
        transform: scale(1.1) rotate(-6deg);
      }
    }
    .inline{
      display: flex;
      flex-direction: row;
      gap : 20px;
    }
    .sm{
      display: flex;
      gap: 50px;
      a{
        color: white;
        
      }
    }
  }
  
}

@media screen and (max-width: 1080px) {
  .contact{
     width: 100vw;
     .contactInfo{
      .inline{
        justify-content: center;
        margin-bottom: 20px;
      }
      display: block;
      margin: auto;
     }
  }
 
}
