.home {
  height: 100vh !important;
  padding-top: 100px;
  width: calc(100vw - 15px);
  color: black;
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
  &.dark-mode{
    background-color: #1B1E32;
    color: white;
    .myImage{
      border: 3px solid white;

    }
    .info{
      .stack{
        span{
          border-right: 3px solid white;
        }
        ul{
          li{
            background-color: #242c70;
            
          }
        }
      }
    }
}

  @keyframes morph {
    0% {
      border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
    50% {
      border-radius: 30% 75% 60% 50%/40% 50% 50% 80%;
    }

    100% {
      border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
  }

  .myImage {
    animation: morph 6s ease-in-out infinite;
    background-image: url(../assets/images/20221221141125_IMG_0137.jpg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border: 3px solid #2d2e32;
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    height: 25rem;
    width: 25rem;
    min-height: 30%;
    position: relative;
    transition: all 1s ease-in-out;
    margin-bottom: 400px;
  }
  .info {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-bottom: 200px;
    h1 {
      font-size: 4rem;
      max-width: 600px;
      margin: 0;
    }
    p {
      font-size: x-large;
      display: flex;
      align-items: center;
      max-width: 600px;
      margin: 0;

    }
    .contact {
      height: 80px;
      width: 80px;
    }
    .stack {
      display: flex;
      align-items: first baseline;
      gap: 20px;
      font-size: x-large;
      span {
        border-right: 3px solid black;
        padding-right: 20px;
        height: 50px;
        display: flex;
        align-items: center;
      }
      ul {
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(5, 20%);
        list-style: none;
        margin: 0;
        padding: 0 0 0 10px;
        li {
          height: 80px;
          width: 80px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          background-color: white;
          box-shadow: 0 6px 6px rgba(0, 0, 0, 0.09);
          .icon {
            height: 45px;
            width: 45px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .home {
    flex-direction: column-reverse;
    padding: 0;

    .myImage {
      margin: 300px 0 0 0;
      height: 30rem;
      width: 24rem;
    }
    .info{
      align-items: center;
      justify-content: center;
      h1{
        font-size: 2rem;
        text-align: center;
        margin-top: 20px;
      }
      p{
        font-size: 1.5rem;
        margin: 0 90px;
      }
      .stack{
        flex-direction: column;
        align-items: center;
        span{
          border: none;
          border-bottom: 3px solid black;
          text-align: center;
          padding: 0;
        }
        ul{
          padding: 0;
        }
      }
    }
  }
}
@media screen and (max-width: 480px) {
  .home {
    justify-content:start;
    .myImage {
      margin:  100px 0 0 0;
      height: 8rem;
      width: 16rem;
      @media screen and (max-height: 800px) {
        margin-top: 90px;
      }
    }
    .info{
      margin: 0;
      gap: 10px;
      h1{
        font-size: 1.5rem;
      }
      p{
        font-size: 1rem;
        margin: 0;
      }
      .contact{
        height: 40px;
        width: 40px;
      }
      .stack{
        span{
          font-size: 1rem;
        }
        ul{
          li{
            height: 40px;
            width: 40px;
            .icon{
              height: 20px;
              width: 20px;
            }
          }
        }
      }
    }
  }
}
