.navbar{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
    height: 80px;
    width: calc(100vw - 15px);
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: black;
    box-shadow: 0 0 10px rgba(0,0,0,.09);

    &.dark-mode{
        background-color: #141628;
        color: white;
    }
    .logo{
        font-size: xx-large;
        margin-left: 4%;
    }

    .sections{
        margin-right: 6%;
        display: flex;
        gap: 30px;
    
        .section{
            font-size: x-large;
            font-weight: 600;
            &:hover {
                cursor: pointer;
                transform: scale(1.1);
                transition: ease-in-out 0.1s;
              }
        }
    }
    .theme {
        margin-right: 4%;
      
        .LightModeIcon {
          background-color: rgb(214, 255, 255);
          height: 2.5rem;
          width: 2.5rem;
          border-radius: 50%;
          color: gold;
          padding: 5px;
          box-shadow: 0 6px 6px rgba(0, 0, 0, 0.09);
      
          &:hover {
            transform: scale(1.1);
            transition: transform 0.3s ease-in-out;
            cursor: pointer;
          }
        }
      
        .DarkModeIcon {
          background-color: darkblue;
          height: 2.5rem;
          width: 2.5rem;
          border-radius: 50%;
          color: yellow;
          padding: 5px;
          box-shadow: 0 6px 6px rgba(0, 0, 0, 0.09);
      
          &:hover {
            transform: scale(1.1);
            transition: transform 0.3s ease-in-out;
            cursor: pointer;
          }
        }
      }
}
@media screen and (max-width: 1080px) {
    .navbar{
        width: 100vw;
    }
}

@media screen and (max-width: 900px) {
    .navbar{

        .logo{
            width: 60px;
            height: 30px;
            background-image: url('../assets/images/logo.png');
        }
        .sections{
            width: 90%;
            margin-right: 0;
            justify-content: center;
        }
        .theme{
            position: fixed;
            bottom: 20px;
            right: 6px;
            margin: 10px;
        }
    }
}

@media screen and (max-width: 640px) {
    .navbar{
        height: 80px;
        .sections{
            gap: 5%;
            justify-content: center;
            .section{
                font-size: large;
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .navbar{
        justify-content: center;
        height: 80px;
        .logo{
            display: none;
            margin: 0;
        }
        
    }
}

@media screen and (max-width: 320px) {
    .navbar{
        .sections{
            gap: 3%;
            .section{
                font-size: medium;
            }
        }
        
    }
}