.navbar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100px;
    width: calc(100vw - 15px);
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: black;
    box-shadow: 0 0 10px rgba(0,0,0,.09);

    .heading{
        font-size: xx-large;
        font-weight: 800;
        margin-left: 60px;
    }

    .sections{
        margin-right: 60px;
        display: flex;
        gap: 30px;
    
        .section{
            font-size: x-large;
            font-weight: 600;
            &:hover {
                cursor: pointer;
                transform: scale(1.2);
              }
        }
    }
}
@media screen and (max-width: 1080px) {
    .navbar{
        width: 100vw;
    }
}

@media screen and (max-width: 900px) {
    .navbar{
        flex-direction: column;
        

        .heading{
            margin: 0;
            padding: 6px 0;
            padding-left: 12px;
            font-size: larger;
            width: 100vw;
        }
        .sections{
            width: 90%;
            margin-right: 0;
            justify-content: space-between;
            padding-bottom: 20px;
            .section{
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .navbar{
        height: 80px;
        .sections{
            gap: 10%;
            justify-content: center;
            .section{
                font-size: 100%;
            }
        }
    }
}