.projects {
  min-height: 100vh;
  width: calc(100vw - 15px);
  color: black;
  padding: 100px 0;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  &.dark-mode{
    background-color: #1B1E32;
    color: white;
    .project{
      background-color: #141628;
      .info{
        .tech{
          span{
            box-shadow: 0 6px 6px rgba(255, 255, 255, 0.1);
            border: 1px solid rgb(204, 204, 204);
          }
        }
      .links{
        a{
          color: white;
        }
      }
    }
    }
    
  }

  .project {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 40px 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,.09);


    .info {
      width: 40%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      h2 {
        color: #00008B;
        font-size: 2rem;
        font-weight: 600;
        margin: 0;
        text-align: center;
      }
      p {
        padding: 0 40px;
        font-size: 1.4rem;
        font-weight: 600;
        max-width: 600px;
        text-align: center;
      }
      .tech {
        text-align: center;
        font-weight: 600;
        font-size: 1.2rem;
        white-space: nowrap;

        span {
          border: 1px solid black;
          padding: 2px 4px;
          margin: 10px;
          border-radius: 4px;
          box-shadow: 0 6px 6px rgba(0, 0, 0, 0.09);

          
        }
      }
      .links {
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 600;
        font-size: x-large;
        padding-top: 30px;
        a {
          display: flex;
          align-items: center;
          gap: 4px;
          white-space: nowrap;
          margin: 0 10px;
          color: black;
          cursor: pointer;
          &:hover {
            color: blue;
            transform: scale(1.1);
            transition: ease-in-out 0.2s;
          }
        }
      }
    }
    img {
      border-radius: 10px;
      width: 50%;
      margin: 0 20px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.1);
    }
  }

}

@media screen and (max-width: 1600px) {
  .projects{
    .project{
      width: 80%;
      .info{
        width: 50%;
        h2{
          font-size: 2rem;
        }
      }
      img{
        width: 50%;
      }
    }
  }
}
@media screen and (max-width: 1280px){
  .projects{
    .project{
      width: 80%;
      .info{
        width: 50%;
        h2{
          font-size: 2rem;
        }
        p{
          font-size: 1.2rem;
        
        }
      }
      img{
        width: 50%;
      }
    }
  }
}

@media screen and (max-width: 1080px) {
  .projects {
    .project {
      width: 70%;
      flex-direction: column;
      gap: 20px;
      padding: 20px 40px;
      .info {
        width: 90%;
        h2 {
          font-size: 1.8rem;
        }
        p {
          padding: 15px 0;
          margin: 0;
        }
        .links {
          padding: 10px 0 0 0;
        }
      }

      img {
        width: 100%;
        height: auto;
      }
    }
  }
}

@media screen and (max-width: 900px){
.projects{
  width: 100vw;
  }  
}

@media screen and (max-width: 640px) {
  .projects {
    padding: 60px 0;
    .project {
      width: 75%;
      padding: 20px 20px;
      img {
        width: 95%;
        height: auto;
      }
      .info {
        h2 {
          font-size: 1.5rem;
          margin: 0;
        }
        p {
          font-size: 1rem;
          padding: 15px 0;
          margin: 0;
        }
        .tech{
          font-size: 0.7rem;
        }
        .links {
          font-size: 1rem;
          padding: 10px 0 0 0;
        }
      }
    }
  }
}

@media screen and (max-width: 360px) {
  .projects{
    .project{
      .info{
        .tech{
          font-size: 0.5rem;
        }
        .links{

          a{
            font-size: 0.8rem;
          }
        }
      }
    }
  }
}